<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RuoYi - 500</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/animate.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body style="background-color:transparent;">
<div class="middle-box text-center animated fadeInDown">
    <h3 class="font-bold">没有绑定用户！</h3>
    <div class="error-desc">
        对不起，您没有绑定的用户，请先登录后在个人中心绑定第三方授权信息！
    </div>
</div>
</body>
</html>
