<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RuoYi - 500</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/animate.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body style="background-color:transparent;">
<div class="middle-box text-center animated fadeInDown">
    <h3 class="font-bold">第三方登录配置错误！</h3>
    <div class="error-desc">
        对不起，可能目前暂不支持该登录方式或配置错误，请联系管理员！
    </div>
</div>
</body>
</html>
