<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: select2-css"/>
    <th:block th:include="include :: header('合同列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>合同名称：</label>
                            <input type="text" name="name"/>
                        </li>
                        <li>
                            <label>负责人：</label>
                            <select name="leaderId" class="form-control m-b">
                                <option value="">所有</option>
                                <option th:each="user:${users}" th:text="${user.userName}"
                                        th:value="${user.userId}">
                                </option>
                            </select>
                        </li>
                        <li>
                            <label>甲方：</label>
                            <input type="text" name="buyers"/>
                        </li>
                        <li>
                            <label>乙方：</label>
                            <input type="text" name="sellers"/>
                        </li>
                        <li>
                            <label>签约日期：</label>
                            <input type="text" class="time-input" placeholder="请选择签约日期" name="signDate"/>
                        </li>
                        <li>
                            <label>起始日期：</label>
                            <input type="text" class="time-input" placeholder="请选择起始日期" name="startDate"/>
                        </li>
                        <li>
                            <label>结束日期：</label>
                            <input type="text" class="time-input" placeholder="请选择结束日期" name="endDate"/>
                        </li>
                        <li>
                            <label>金额：</label>
                            <input type="text" name="amount"/>
                        </li>
                        <li>
                            <label>付款方式：</label>
                            <select name="payMode" th:with="type=${@dict.getType('cnt_pay_mode')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <label>状态：</label>
                            <select name="status" th:with="type=${@dict.getType('cnt_status')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:contract:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
               shiro:hasPermission="system:contract:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="system:contract:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:contract:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: select2-js"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:contract:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:contract:remove')}]];
    var statusDatas = [[${@dict.getType('cnt_status')}]];
    var payModes = [[${@dict.getType('cnt_pay_mode')}]];

    var prefix = ctx + "system/contract";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            detailUrl: prefix + "/detail/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "合同",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'name',
                    title: '名称',
                    formatter: function (value, row, index) {
                        var a = $("<a>");
                        a.html(value);
                        a.attr('href', '#');
                        a.attr('onclick', "$.operate.detail('" + row.id + "')");
                        return a[0].outerHTML;
                    }
                },
                {
                    field: 'leader',
                    title: '负责人'
                },
                {
                    field: 'buyers',
                    title: '甲方名称'
                },
                {
                    title: '合同期限',
                    formatter: function (value, row, index) {
                        try {
                            return row.startDate + "到" + row.endDate;
                        } catch (e) {
                            return '-';
                        }
                    }
                },
                {
                    field: 'payMode',
                    title: '付款方式',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(payModes, value);
                    }
                },
                {
                    field: 'status',
                    title: '状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(statusDatas, value);
                    }
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                },
                {
                    field: 'createBy',
                    title: '创建者',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="uploadFiles(\'' + row.id + '\')"><i class="fa fa-edit"></i>合同文档</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    function uploadFiles(cntID) {
        var options = {
            title: "合同文档",
            url: prefix + "/contractfiles/" + cntID,
            skin: 'layui-layer-gray',
            btn: ['关闭'],
            yes: function (index, layero) {
                layer.close(index);
            }
        };
        $.modal.openOptions(options);
    }
</script>
</body>
</html>