<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('详情')" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <div class="form-group">
        <div class="ibox float-e-margins">
<!--            <div class="ibox-title">-->
<!--                <span class="label label-warning pull-right">总</span>-->
<!--                <h5>项目工时排行</h5>-->
<!--            </div>-->
            <div class="ibox-content">
                <table class="table table-hover no-margins">
                    <thead>
                    <tr>
                        <th>项目名称</th>
                        <th>工时（h）</th>
                    </tr>
                    </thead>
                    <tr th:each="sum,ls:${report}">
                        <td>
                            [[${ls.index + 1}]].&nbsp&nbsp[[${sum.projectName}]]
                        </td>
                        <td>
                            [[${sum.costAmount}]]
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
<!--<th:block th:include="include :: footer" />-->
</html>