<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('详情')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <div class="form-group">
        <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>[[*{startDate}]]到&nbsp;[[*{endDate}]]</h5>
                        </div>
            <div class="ibox-content">
                <table class="table table-hover no-margins">
                    <thead>
                    <tr>
                        <th>项目名称</th>
                        <th>工时（h）</th>
                        <th>较上周（h）</th>
                    </tr>
                    </thead>
                    <tr th:each="sum,ls:${report}">
                        <td>
                            [[${ls.index + 1}]].&nbsp&nbsp[[${sum.projectName}]]
                        </td>
                        <td>
                            [[${sum.costAmount}]]
                        </td>
                        <td>
                            [[${sum.costAmount - sum.twoWeeksAgoAmount}]]
                            <i th:if="${sum.costAmount - sum.twoWeeksAgoAmount > 0}"
                               class="fa fa-long-arrow-up text-danger"></i>
                            <i th:if="${sum.costAmount - sum.twoWeeksAgoAmount == 0}" class="fa text-success">-</i>
                            <i th:if="${sum.costAmount - sum.twoWeeksAgoAmount < 0}"
                               class="fa fa-long-arrow-down text-navy"></i>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
<!--<th:block th:include="include :: footer" />-->
</html>