<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('工时列表')" />
    <th:block th:include="include :: select2-css" />
    <th:block th:include="include :: datetimepicker-css" />
    <style>
    .day
    {color:#000000;}
    </style>
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                        <li>
                        <label>成员：</label>
                        <select name="user" class="form-control m-b">
                        <option value="">所有</option>
                        <option th:each="user : ${users}" th:text="${user.userName}" th:value="${user.userId}"></option>
                    </select>
                    </li>
                            <li>
                                <label>项目：</label>
                                <select name="projectId" class="form-control m-b">
                                <option value="">所有</option>
                                <option th:each="project : ${projects}" th:text="${project.name}" th:value="${project.id}" th:selected="${op == project.id}"></option>
                            </select>
                            </li>

                            <li>
                                <label>起始日期：</label>
                                <input type="text" class="input-sm form-control" id="datetimepicker-startTime" placeholder="请选择起始日期" name="startDate" autocomplete="off"/>
                            </li>
                            <li>
                                <label>结束日期：</label>
                                <input type="text" class="input-sm form-control" id="datetimepicker-endTime" placeholder="请选择结束日期" name="endDate" autocomplete="off"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset();resetTime();"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.addTab()" shiro:hasPermission="system:cost:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:cost:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:cost:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:cost:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: select2-js" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:cost:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:cost:remove')}]];
        var prefix = ctx + "system/cost";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "工时",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'userName',
                    title: '成员'
                },
                {
                    field: 'startDate',
                    title: '起始日期'
                },
                {
                    field: 'endDate',
                    title: '结束日期'
                },
                {
                    field: 'projectName',
                    title: '项目'
                },
                {
                    field: 'costDay',
                    title: '人时'
                },
                {
                    field: 'remark',
                    title: '内容'
                },
                {
                    field: 'createBy',
                    title: '创建者'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        
    	$("#datetimepicker-startTime").datetimepicker({
    		format: 'yyyy-mm-dd',
    		minView: "month",
    	    todayBtn:  true,
    	    autoclose: true,
    	    weekStart: 1,
    		endDate : new Date(),
    		daysOfWeekDisabled:[0,1,2,3,4,5]
    	}).on('changeDate', function(event) {
    		event.preventDefault();
    		event.stopPropagation();
    		resetTime();
    	});
    	
    	$("#datetimepicker-endTime").datetimepicker({
    		format: 'yyyy-mm-dd',
    		minView: "month",
    		todayBtn:  true,
    		yesterdayBtn:  true,
    		autoclose: true,
    		weekStart: 1,
    		endDate : new Date(),
    		daysOfWeekDisabled:[0,1,2,3,4,6]
    	}).on('changeDate', function(event) {
    		event.preventDefault();
    		event.stopPropagation();
    		resetTime();
    	});
    	function resetTime() {
    		$('#datetimepicker-endTime').datetimepicker('setStartDate', $("#datetimepicker-startTime").val());
    		$("#datetimepicker-startTime").datetimepicker('setEndDate', $("#datetimepicker-endTime").val());
    	}
    </script>
</body>
</html>