.impowerBox .qrcode {
    width: 180px;
}

.impowerBox .title {
    display: none;
}

.impowerBox .info {
    width: 200px;
}

.status_icon {
    display: none
}

.impowerBox .status {
    text-align: center;
}